langchain-community
pypdf
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-core
langchain-google-genai
fastapi
sentence-transformers
python-multipart
#pysqlite3-binary
uvicorn
-e .